<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script id="myScript"></script>
        <script type="module">
            const server=window.location.href;
            document.getElementById('myScript').src = `${server}socket.io/socket.io.js`;
            let socket;

            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("boton").addEventListener("click", function () {
                    const value=document.getElementById("alumnos").value;
                    socket=io.connect(server, { query: "user="+value });
                    socket.on('check', (value)=>{
                        document.getElementById("alert").style.display="";
                    });
                });
            });
            
        </script>
    </head>
    <div>
        <select id="alumnos">
            <option value="-1">
            </option>
            <% alumnos.forEach((item, index)=> { %>
                <option value="<%= index %>">
                    <%= item.nombre %>
                </option>
            <% }); %>
        </select>
        <button id="boton">conectar</button>
        <h3 id="alert" style="display:none">success</h3>
    </div>
    
    <style>
        
        html{
            background-color:#2874a6; 
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center;
        }
        h3{
            color:greenyellow
        }
        div{
            display: flex; 
            flex-wrap: wrap; 
            column-gap: 10px;
        }
    </style>
</html>