<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
        <script type="module">
            import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
            let user="";
            let socket;
            const server="http://localhost:3000/";
            /* socket.on('online', (value)=>{
                console.log("online", value);
            }); */
            //socket.emit('online', "valor");

            function success(){
                socket.on('check', (value)=>{
                    document.getElementById("alert").style.display="";
                });
            }

            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("boton").addEventListener("click", function () {
                    const value=document.getElementById("alumnos").value;
                    if(user==""){
                        socket=io(server, { query: "user="+value });
                        success();
                        //socket.connect();
                    }else{
                        console.log("usuario");
                        socket.disconnect();
                        if(value!="0"){
                            socket=io(server, { query: "user="+value });
                        }
                    }
                    //socket.connect();
                    user=this.value;
                });
            });
            
        </script>
    </head>
    <div>
        <select id="alumnos">
            <option value="-1">
            </option>
            <% alumnos.forEach((item, index)=> { %>
                <option value="<%= index %>">
                    <%= item.nombre %>
                </option>
            <% }); %>
        </select>
        <button id="boton">conectar</button>
        <h3 id="alert" style="display:none">success</h3>
    </div>
    
    <style>
        
        html{
            background-color:#2874a6; 
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center;
        }
        h3{
            color:greenyellow
        }
        div{
            display: flex; 
            flex-wrap: wrap; 
            column-gap: 10px;
        }
    </style>
</html>