<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="#">
    <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script type="module">
        import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
        const socket=io("http://localhost:3000/", { query: "user=celeste" });

        socket.on('list', (value)=>{
            value.forEach((item, index)=> {
                if(item.online){
                    document.getElementById(index).style.color="green";
                    document.getElementById(index).style.border="green 1px solid";
                }
            });
        });

        socket.on('online', (value)=>{
            document.getElementById(value).style.color="green";
            document.getElementById(value).style.border="green 1px solid";
        });

        socket.on('offline', (value)=>{
            document.getElementById(value).style.color="red";
            document.getElementById(value).style.border="red 1px solid";
        });
        //socket.emit('online', "valor");
    </script>
        <div>
            <% alumnos.forEach((item, index)=> { %>
                <% if(index%4==0){ %>
                    </div><div>
                <% } %>  
                <h3 id="<%= index %>"><%= item.nombre %></h3>
                
            <% }); %>
        </div>
    <style>
        html{
            background-color: oklch(0.21 0.034 264.665); 
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center;
        }
        h3{
            color: red;
            border: red 1px solid; 
            width: 200px; 
            border-radius:10px
        }
        div{
            display: flex; 
            flex-wrap: wrap; 
            column-gap: 10px;
        }
    </style>
</html>